.p1{
    background-color:blue;
}

.p2{
    background-color:white;
}

.p3{
    background-color:red;
}

img{
    display:block;
    margin:auto;
    max-width:300px;
}

input{
    margin:auto;
    margin-bottom:2%;
    display:block;
}

.formu{
    margin-bottom:3%;
    text-align: center;
    Color:silver;
}
td{
    border: 1px solid black;
}
