.p1{
    background-color:blue;
}

.p2{
    background-color:white;
}

.p3{
    background-color:red;
}

img{
    margin:auto;
    height:100%;
    width:100%;

}

input{
    margin:auto;
    margin-bottom:2%;
    display:block;
    
    
}

.formu{
    margin-bottom:3%;
    text-align: center;
    Color:silver;
}

.date{
    padding-left: 3%;
}